.nuxt-content-highlight {
  font-size: 1.1rem;
  pre {
    border: solid 1px grey;
    border-radius: 10px;
    background: transparent !important;

    code {
      background: transparent;
      text-shadow: none;

      .token.operator {
        background: transparent;
      }
    }
  }
}
